#homepage #description h1 {
  margin-bottom: 0.5em;
}

#description h1, #description h2 {
  text-align: center;
}



#collaborators {
  text-align: center;
}


#schedule h3, #schedule .time{
  text-align: center;
}

.hero-unit {
  border-radius: 1.5em;
}


.btn-really-large {
  padding: 15px 45px;
  font-size: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


/*bootstrap hacking */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width:    1100px; /* 14 rows */

}
/*.content {
  position: relative;
  top:      80px;
}*/
hr { border-width: 3px;}